# 1) Ignore everything
*

# 2) Don't ignore .gitignore itself
!.gitignore

# 3) Unignore the 'public' folder
!public/

# 4) Unignore the 'public/dist' folder
!public/dist/

# 5) Ignore everything inside public/dist
public/dist/*

# 6) Finally, unignore the actual file you want
!public/dist/bundle.js
